<!-- landscape_main.html -->
<link rel="stylesheet" type="text/css" href="/static/landscape_style.css">
<script src="static/bower_components/jquery/dist/jquery.js"></script>
<script src="static/bower_components/momentjs/moment.js"></script>

<script>
	$( document ).ready(function() {
		$.getJSON("/controversy_list", function(data){

			$("#controversy_id").html("");
			$("#dump_id").empty();
			$("#timeslice_id").empty();

			$("#controversy_id").append("<option value=''>-</option>").prop('selected',true);
			for(i in data) {
				c = data[i]
				console.log(c)
				$("#controversy_id").append("<option value='"+c['controversies_id']+"'>"+c['name']+"</option>");
			}
   		});
	});

$(function() {
  $("#controversy_id").on("change",function() {
	$.getJSON("/dump_list/" + $('#controversy_id').val(), function(data){
		
		$("#dump_id").empty();
		$("#timeslice_id").empty();
		
		$("#dump_id").append("<option value=''>-</option>").prop('selected',true);
		for(i in data) {
			c = data[i]
			console.log(c)
			var start_date = moment(c['start_date']).format('MM-DD-YYYY');
			var end_date = moment(c['end_date']).format('MM-DD-YYYY');
			$("#dump_id").append("<option value='"+c['controversy_dumps_id']+"'>"+start_date+" - "+end_date+"</option>");
		}
	});
  }); 
});

$(function() {
  $("#dump_id").on("change",function() {
	$.getJSON("/timeslice_list/" + $('#dump_id').val(), function(data){
		
		$("#timeslice_id").empty();
		
		$("#timeslice_id").append("<option value=''>-</option>").prop('selected',true);
		for(i in data) {
			c = data[i]
			console.log(c)
			var start_date = moment(c['start_date']).format('MM-DD-YYYY');
			var end_date = moment(c['end_date']).format('MM-DD-YYYY');
			$("#timeslice_id").append("<option value='"+c['controversy_dump_time_slices_id']+"'>"+start_date+" - "+end_date+"</option>");
		}
	});
  }); 
});

$(function() {
  $("#createNetwork").on("click",function() {
  	window.open('/landscape_live/' + $('#controversy_id').val() + '/' + $('#dump_id').val() + '/' + $('#timeslice_id').val(), name='_self')
  });
 });

</script>

<br>

<div id="chooser">
	<!-- AJAX populated drop-down: controversy_id -->
	<label for="controversy_id">Controversy:&nbsp;&nbsp;</label>
	<select id="controversy_id"></select>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<!-- AJAX populated drop-down: dump_id -->
	<label for="controversy_id">Data Dump:&nbsp;&nbsp;</label>
	<select id="dump_id"></select>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<!-- AJAX populated drop-down: timeslice_id -->
	<label for="controversy_id">Timeslice:&nbsp;&nbsp;</label>
	<select id="timeslice_id"></select>
	
	&nbsp;&nbsp;&nbsp;&nbsp;

	<!-- submit: execute query with above and init / redirect to network div -->
	<input type="submit" id="createNetwork"  name="submitButton" value="Create Network">
</div>

<br>
<hr>
<br>